@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:wght@300;500;600;700;900&display=swap');

*{
    font-family: Raleway, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: black;
}

section{
    margin: 100px auto;
}

header{
    display: block;
}

p{
    color: white;
}



.banner{
    /*width: 800px;*/
    text-align: center;
    /*margin: 100px auto;*/
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url('../images/banner.png');
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
    border-bottom: 3px solid #33A8DB80;
} 

.banner .logo{
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 268px;
    width: 270px;
    height: 270px;
    margin: auto;
    padding-top: 4%;
    margin-bottom: 16px;


}

.banner .banner-content{
    text-align: center;
    width: 605px;
    margin: auto;
}

.banner .banner-content button{
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 16px 32px;
    letter-spacing: 4px;
    color: #31A8DD;
    background-color: transparent;
    border-image: linear-gradient(#31A8DD, #1572B7);
    border-image-slice: 10;
}

.banner .banner-content h1{
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: transparent;
    background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    /*text-align: center;*/
}    

.banner .banner-content p{
    font-size: 1.25rem;
    margin: 16px 0 24px;
    
}

.logo{
    text-align: center;
}

#course-content{
    width: 800px;
    text-align: center;
    /*margin: 100px auto;*/
}

main{
    display: block;
}

#course-content h2{
  
    font-size: 2rem;
    color: #33A8DB;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 24px;
    padding-top: 40px; 
    text-align: center;
}


#course-content .modules-list{

    color: white;
}

#course-content .modules-list .module{

    color: white;
    margin: 30px;
    background: #252525;
    width: 530px;
    padding: 16px;
    border-radius: 57px;
    border: 1px solid #33A8DB;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    box-shadow: -2px 6px 4px 0px rgba(0, 0, 0, 0.40) inset;
    
}

#course-content .modules-list .module span{

    color: #33A8DB;
    
}

#transform-world{
    border-top: 1px solid #33A8DB;
    border-bottom: 1px solid #33A8DB;
    padding: 200px;
    background-image: url(../images/woman-code.png);
    background-size: cover;
    background-attachment: fixed;
  

}

#transform-world p{
    text-transform: lowercase;
    text-shadow: 3px 2px 0px #33A8DB;
    font-size: 2.5rem;
    font-weight: bolder;
    width: 244px;
}

#professional-challenges{
    text-align: center;
    width: 800px;

}

#professional-challenges h2{
    text-align: center;
    color: #33A8DB;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 2rem;
    width: 800px;

}

#professional-challenges img{
    margin-top: 32px;
    margin-bottom: 32px;
}

#professional-challenges p{
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
}

footer{
    border-top: 1px solid #33A8DB;
    text-align: center;
    height: 170px;
    padding-top: 60px;
    background: linear-gradient(180deg, rgba(51, 168, 219, 0.00) 0%, rgba(51, 168, 219, 0.20) 99.99%, rgba(51, 168, 219, 0.20) 100%);

}

footer a{
    color: #33A8DB;
    text-decoration: none;
}